# Environment variables
.env
.env.local
.env.development
.env.production
.env.example

# Dependencies
node_modules/

# Logs
logs
*.log

# Build folders
dist/
build/

#md files
GOOGLE_TECH_USAGE.md
PROGRESS_LOG.md
